body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    

}
.h1{
    font-size: 40px;
    margin: 30px;

}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;

}
.box{
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 35px;
    width: 200px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    margin-top: 125px;

}
.box:hover{
    transform: scale(1.05);
    
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background: #0056b3;
    transform: scale(1.05);
}
input {
    padding: 11px;
    width: 190px;
    font-size: 16px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}
.input-area {
    margin-top: 20px;
}
@media (max-width: 480px) {
    h1 {
        font-size: 1.7rem;
    }

    .box {
        width: 120px;
        padding: 25px 0;
        font-size: 1rem;
    }

    button {
        width: 80%;
        margin-top: 10px;
    }

    input {
        width: 90%;
    }
}